<div class="container" style="max-width: 400px;">
  <div class="form-group ">
    <a href="/users/search" class="btn btn-sm btn-primary">
<i class="fas fa-search fa-fw"></i>
      <!-- <i class="fas fa-angle-left fa-fw"></i> -->
    </a>
    {{#if user._id}}
    <div class=" float-right ">
      <a href="/users/add" class="btn btn-sm btn-primary"><i class="fas fa-plus fa-fw"></i></a>
      <button type="button" class="btn btn-sm btn-danger " data-toggle="modal" data-target="#confirmModal" ><i class="far fa-trash-alt fa-fw"></i></button>
    </div>
    {{/if}}
    <!-- <div class="text-muted small"><br/>
      {{#if user._id}}{{user._id}}{{else}}&nbsp;{{/if}}
    </div> -->
  </div>
  <form action="/users/{{#if user._id}}update{{else}}add{{/if}}" method="POST" autocomplete="off" class="needs-validation" novalidate>
    <input type="hidden" id="_id" name="_id" value="{{user._id}}" />
    <div class="form-group">
      <label for="first">nome</label>
      <input type="text" class="form-control" id="first" name="first" value="{{user.name.first}}" required autofocus/>
      <div class="invalid-feedback">
        nome obbligatorio
      </div>
    </div>
    <div class="form-group">
      <label for="apellidos">cognome</label>
      <input type="text" class="form-control" id="last" name="last" value="{{user.name.last}}" required />
      <div class="invalid-feedback">
        cognome obbligatorio
      </div>
    </div>
    <div class="form-group">
      <label for="e-mail">e-mail</label>
      <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
      <div class="invalid-feedback">
        inserire una e-mail valida
      </div>
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-sm btn-primary "> conferma</button>
    </div>
  </form>
</div>



<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <br/>
        <i class="far fa-trash-alt fa-3x"></i>
        <br/>
        <br/>
        <i class="far fa-question-circle fa-2x"></i>
        <br/>
        <br/>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> annulla</button>
        <button type="button" class="btn btn-danger" onclick='deleteUser("{{user._id}}")'><i class="far fa-trash-alt"></i> elimina</button>
      </div>
    </div>
  </div>
</div>


{{#section 'js-block'}}
  <script>
    $(function() {
      {{#if op}}
        $.snackbar({
          content: '<i class="far fa-grin-alt"></i> {{op}}',
          htmlAllowed: true,
        });
      {{/if}}

          var forms = document.getElementsByClassName('needs-validation');
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              } else {
                $("input[type=submit]").prop('disabled', true);
                $.snackbar({
                  content: '<i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;operazione in corso',
                  timeout: 0,
                  htmlAllowed: true
                });
              }
              form.classList.add('was-validated');
            }, false);
          });
    });

    function deleteUser(userid) {
      console.log('deleteUser', userid);
      $.snackbar({
        content: '<i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;operazione in corso',
        timeout: 0,
        htmlAllowed: true
      });

      $.post("/users/delete", {
        id: userid
      }, function(data) {
          console.log(data);
          window.location = '/users/detail/delete/' + userid;
      });
    }
  </script>
{{/section}}
